<!DOCTYPE html>

<head>
  <style>
    body {
      background-color: rgb(24, 130, 154);
      color: peachpuff;
    }

    .button {
      background-color: white;
      border: none;
      color: rgb(24, 130, 154);
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 30px;
    }
    .button:hover { 
      background-color: black;
      color: white;
    }
    
  </style>
</head>

<body>
  
  <p style="margin:0px;text-align:center; padding: 200px;"><a href='/login'><button class="button"><b>sign in via gmail</b></button></a></p>

</body>
